<h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="{{feedbackLink}}">Feedback<span class="visuallyhidden">Opens in new window</span></a></li>
  <li><a href="/about#about" target="_blank">About<span class="visuallyhidden">Opens in new window</span></a></li>
  <li><a href="/terms-and-conditions" target="_blank">Terms and conditions<span class="visuallyhidden">Opens in new window</span></a></li>
  <li><a href="/privacy-policy" target="_blank">Privacy Policy<span class="visuallyhidden">Opens in new window</span></a></li>
  <li><a href="/cookies" target="_blank">Cookies<span class="visuallyhidden">Opens in new window</span></a></li>
</ul>
