{{<layout-exit}}
{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<h1 class="heading-medium">{{#t}}exit-pages.title{{/t}}</h1>
    <p>{{#t}}exit-pages.invalid-visa.text{{/t}}</p>
    <ul class="list-bullet">
      <li>{{#t}}exit-pages.invalid-visa.categories-list.tiers124{{/t}}</li>
      <li>{{#t}}exit-pages.invalid-visa.categories-list.tier5{{/t}}</li>
      <li>{{#t}}exit-pages.invalid-visa.categories-list.indefiniteLeave{{/t}}</li>
      <li>{{#t}}exit-pages.invalid-visa.categories-list.naturalisation{{/t}}</li>
      <li>{{#t}}exit-pages.invalid-visa.categories-list.UKAncestry{{/t}}</li>
      <li>{{#t}}exit-pages.invalid-visa.categories-list.family{{/t}}</li>
    </ul>
    <p>{{#t}}exit-pages.closing-text{{/t}}</p>
<a href="/backToGovUk" class="button" role="button">Exit to GOV.UK </a>
{{#showStack}}
<pre>
  {{error.stack}}
</pre>
{{/showStack}}

{{/content}}

{{/layout-exit}}

