{{<layout-exit}}
{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<h1 class="heading-medium">{{#t}}exit-pages.title{{/t}}</h1>

<p>{{#t}}exit-pages.invalid-reason.text{{/t}}</p>
<ul class="list-bullet">
  <li>{{#t}}exit-pages.invalid-reason.categories-list.businessVisitor{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.generalVisitor{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.diplomaticMission{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.academicVisitor{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.entertainmentVisitor{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.inTransit{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.parent{{/t}}</li>
  <li>{{#t}}exit-pages.invalid-reason.categories-list.medical{{/t}}</li>
</ul>
<p>{{#t}}exit-pages.closing-text{{/t}}</p>

<a href="/backToGovUk" class="button" role="button">Exit to GOV.UK </a>
{{#showStack}}
<pre>
  {{error.stack}}
</pre>
{{/showStack}}

{{/content}}

{{/layout-exit}}
