{{<layout}}
{{$title}}Registered Traveller - Cookies{{/title}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-info-proposition}}
{{/propositionHeader}}

{{$content}}

    <section name="content">

      <h1 class="bold-xlarge info-page-heading">Cookies</h1>

      <section name="general">
        <p>Small files (known as ‘cookies’) are put onto your computer to collect information about how you browse
          the site.</p>

        <p>Cookies are used to:</p>
        <p/>
        <ul class="list-bullet">
          <li>measure how you use the website so it can be updated and improved based on your needs</li>
          <li>remember the notifications you’ve seen so that you’re not shown them again</li>
        </ul>
        </p>

        <div class="info-notice">
          <p>GOV.UK cookies aren’t used to identify you personally.</p>
        </div>

        <p>You’ll normally see a message on the site before a cookie is stored on your computer.</p>

        <p>Find out more about <a href="http://www.aboutcookies.org/" target="_blank" rel="external">how to manage
          cookies <span class="visuallyhidden">Opens in new window</span></a>.</p>

        <h2>How cookies are used</h2>

        <p></p>

        <h3>Measuring website usage (Google Analytics)</h3>

        <P>Google Analytics software collects information about how you use the site. This is done to help make sure
          the site is meeting the needs of its users and to help make improvements.</P>

        <P>Google Analytics stores information about:</P>

        <p>
        <ul class="list-bullet">
          <li>the pages you visit - how long you spend on each page</li>
          <li>how you got to the site</li>
          <li>what you click on while you’re visiting the site</li>
        </ul>
        </p>

        <p>We don’t collect or store your personal information (eg your name or address) so this information can’t
          be used to identify who you are.</p>

        <div class="info-notice">
          Google isn’t allowed to use or share our analytics data.
        </div>

        <p>The following cookies are used:</p>

        <table>
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>_utma</td>
            <td>Determines the number of unique visitors to the site</td>
            <td>2 years</td>
          </tr>
          <tr>
            <td>_utmb</td>
            <td>This works with _utmc to calculate the average length of time you spend on our site</td>
            <td>30 minutes</td>
          </tr>
          <tr>
            <td>_utmc</td>
            <td>This works with _utmb to calculate when you close your browser</td>
            <td>when you close your browser</td>
          </tr>
          <tr>
            <td>_utmz</td>
            <td>This provides information about how you reached the site (eg from another website or a search
              engine)
            </td>
            <td>6 months</td>
          </tr>
          <tr>
            <td>GDS_successEvents and GDS_analyticsTokens</td>
            <td>These help us identify how you use GOV.UK so we can make the site better</td>
            <td>4 months</td>
          </tr>
          </tbody>
        </table>


        <p>You can <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" data-sso="false"
                      rel="external">opt out of Google Analytics cookies <span class="visuallyhidden">Opens in new window</span></a>.
        </p>


        <p></p>

        <h3>Session cookies</h3>

        <p></p>

        <p>These are temporary cookie files, which are erased when you close your browser or after defined time period.</p>
        <table>
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>_csrf</td>
            <td>Protects against cross site request forgery</td>
            <td>When you close your browser</td>
          </tr>
          <tr>
            <td>_ga</td>
            <td>Google Analytics cookie</td>
            <td>24 months</td>
          </tr>
          <tr>
            <td>_gat</td>
            <td>Google Analytics cookie</td>
            <td>10 minutes</td>
          </tr>
          <tr>
            <td>seen_cookie_message</td>
            <td>This is used to display a cookie message</td>
            <td>1 month</td>
          </tr>
          </tbody>
        </table>
      </section>
      <p><a href="#global-header">Back to top</a>
      <p>
        <button onclick="window.close();" class="button" role="button" id="closeButton">Close <span
          class="visuallyhidden">button closes current window</span></button>
      </p>
    </section>


{{/content}}

{{/layout}}
