{{<layout}}
{{$title}}Registered Traveller - Privacy policy{{/title}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-info-proposition}}
{{/propositionHeader}}

{{$content}}

    <section name="content">

      <h1 class="bold-xlarge info-page-heading">Privacy policy</h1>

      <p>Border Force complies with the <a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter#data-protection-act-1998" target="_blank" rel="external">
        Data Protection Act 1998 <span class="visuallyhidden">Opens in new window</span></a>
        and is responsible for when and how your personal information is collected and used.</p>
      <p>The information you provide is used to:</p>
      <ul class="list-bullet">
        <li>make a decision on your application</li>
        <li>help prevent and detect crime</li>
        <li>help improve the service and train Border Force staff</li>
      </ul>

      <p>

      <h2>Sharing your information</h2>
      <p>The information you provide may be shared with other people to:</p>
      <ul class="list-bullet">
        <li>process your application</li>
        <li>check it is correct</li>
        <li>help prevent and detect crime, e.g. fraud and money laundering</li>
      </ul>
      <p>They may also use your information for their own purposes.</p>
      <p>The other people that your information may be shared with include, for example:</p>
      <ul class="list-bullet">
        <li>fraud prevention agencies</li>
        <li>UK, US or other overseas government departments or law enforcement agencies</li>
        <li>people who can verify the information in your application</li>
      </ul>
      <p><a href="https://www.gov.uk/government/publications/frauds-tricks-and-scams/working-with-fraud-prevention-organisations">
        How information held by fraud prevention agencies may be used.</a></p>


      <h2>Protecting your information</h2>
      <p>Border Force will:</p>
      <ul class="list-bullet">
        <li>keep your information safe and secure</li>
        <li>only share your information as detailed above</li>
        <li>only ask for what is needed</li>
        <li>only keep your information for as long as it is needed</li>
      </ul>
      <p>Your information will not be made available for commercial use without your permission.</p>
      <p>Get more detail including <a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter">
        asking to see your information or complaining about how your data has been handled.</a></p>

    </section>
<p><a href="#global-header">Back to top</a>
<p>
  <button onclick="window.close();" class="button" role="button" id="closeButton">Close <span
    class="visuallyhidden">button closes current window</span></button>
</p>


{{/content}}

{{/layout}}
