{{<layout}}
{{$title}}Registered Traveller - Terms and conditions{{/title}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-info-proposition}}
{{/propositionHeader}}

{{$content}}

<section name="content">
  <h1 class="bold-xlarge info-page-heading">Terms and conditions</h1>

  <p>The Registered Traveller service is operated by Border Force, which is the organisation that carries out UK immigration and customs checks.</p>

  <h2>Successful Registered Traveller applications and renewals</h2>

  <p>A Registered Traveller membership does not guarantee you entry to the UK. You still have to meet immigration requirements, and you must follow the conditions of your leave to enter or remain in the UK.</p>

  <p>You can’t transfer your membership to anyone else.</p>

  <p>Your membership lasts for 12 months from the date of provisional acceptance.</p>

  <p>If you renew your membership, the membership is extended by 12 months.</p>

  <p>The first year’s membership and subsequent renewals are conditional upon acceptance by Border Force.</p>

  <h2>Unsuccessful Register Traveller applications</h2>

  <p>An unsuccessful Registered Traveller application means you can’t use the Registered Traveller service. You can still travel to the UK.</p>

  <p>Border Force will send you an email if you are unsuccessful. It may not include an explanation if there’s a good reason not to (eg security).</p>

  <h2>When Border Force may suspend or cancel your membership</h2>
  <p>Border Force may suspend or end your membership in some circumstances.</p>
  <p>For example:</p>
  <ul class="list-bullet">
    <li>you no longer qualify for membership (eg because your UK visa or leave to remain expires)</li>
    <li>UK immigration rules change</li>
    <li>for national security reasons</li>
    <li>to keep a port or airport operating efficiently</li>
  </ul>

  <h2>Fees and payment</h2>
  <p>It costs £70 for the first 12 months membership.</p>
  <p>This includes a non-refundable £20 for registering your travel document.</p>
  <p>This can be paid by you or someone paying for you (eg an employer, colleague, school or relative).</p>

  <h3>Renewals</h3>
  <p>It costs £50 to renew for a subsequent year.</p>

  <h2>Refunds</h2>
  <p>You will receive a £50 refund if your application is unsuccessful.</p>
  <p>You will receive a £50 refund if you withdraw your application before a decision has been made.</p>
  <p>A £50 refund will be given in the event of death, natural disasters or the closure of airports participating in the Registered Traveller service.</p>
  <p>Refunds will be made to the payment card within 28 days.</p>

  <h3>Consumer Contracts (Information Cancellation and Additional Charges) Regulations 2013</h3>
  <p>The provisions of the Consumer Contracts (Information Cancellation and Additional Charges) Regulations 2013 (as amended) shall not apply to the Registered Traveller service.</p>

  <h2>Applying on your behalf</h2>
  <p>Someone else can apply for the Registered Traveller service for you, if you fully agree to this.</p>
  <p>Their answers will be taken as if you’ve given them, so you should be sure they have all the information they need to answer the questions accurately and truthfully.</p>

  {{#features.under18s}}
    <h2>Adding your child to your membership</h2>
    <p>To use the service, children must travel with the Registered Traveller parent member who applied on their behalf.</p>
    <p>When travelling together, you and your children cannot use the ePassport gates.</p>
    <p>The cost for each child is £2 per month, plus an administration fee of £20.</p>
    <p>You will get the membership fee back if your application to add your child is unsuccessful. You will not get the administration fee back.</p>
    <p>You will receive a refund of the membership fee if you withdraw your application to add a child before a decision has been made.</p>
    <p>A refund of the membership fee will be given in the event of death, natural disasters or the closure of airports participating in the Registered Traveller service.</p>
  {{/features.under18s}}

  <h2>Legal disputes</h2>

  <p>If part of these terms and conditions is found to be unenforceable, it won't affect the rest of the terms and conditions.</p>

  <p>Our agreement with you (as a member of the Registered Traveller service) will be governed by English law. Any legal dispute about your membership or use of the Registered Traveller service must be settled in the English courts.</p>

  </section>
<p><a href="#global-header">Back to top</a>
<p>
  <button onclick="window.close();" class="button" role="button" id="closeButton">Close <span
    class="visuallyhidden">button closes current window</span></button>
</p>


  {{/content}}

  {{/layout}}
