{{<layout}}
{{$title}}{{#t}}pages.default-title{{/t}}{{#t}}pages.dateOfBirth.title{{/t}}{{/title}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

{{$form}}
</div><!-- end column-two-thirds -->


<div class="column-full">
    <h2 class="heading-large">
    What are the digital inclusion categories?
    </h2>
</div>


<div class="column-two-thirds">
<ul class="list list-bullet">
  <li>they are nine digital inclusion categories that range in a scale from ‘never have, never will’ to ‘expert’</li>
  <li>they are intended to capture all digital skills, non device or web specific</li>
  <li>they are used inorder to help ensure that services are being designed for all digital confidnece and skills</li>
  <li>in a service assessment researchers will need to proof that they have conducted research with lower inclusion categories (service dependent)</li>
</ul>


</div>

  <div class="column-full">
    <h3 class="heading-medium">
      Digital inclusion scale
    </h3>
  <br>

    <style type="text/css">
    .hidden {display:none}
    </style>


    <div class="grid-row">
      <div class="column-full">

    <div class="inclusion-scale">

    <div class="category" style="border-bottom: solid #F83908 6px;"><p>1<br>Never have,<br> never will</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('never-have').className = document.getElementById ('never-have').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #E76D42 6px;"><p>2<br>Was online<br> but no longer</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('was-online').className = document.getElementById ('was-online').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #F57330 6px;"><p>3<br>Willing <br>but unable</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('willing').className = document.getElementById ('willing').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #F4C436 6px;"><p>4<br>Reluctantly <br>online</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('reluctantly').className = document.getElementById ('reluctantly').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #F5E940 6px;"><p>5<br>Learning <br>the ropes</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('learning').className = document.getElementById ('learning').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #D9D92E 6px;"><p>6<br>Task <br>specific</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('task-specific').className = document.getElementById ('task-specific').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #D0D92E 6px;"><p>7<br><br>Basic skills</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('basic').className = document.getElementById ('basic').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #B2DF4B 6px;"><p>8<br><br>Confident</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('confident').className = document.getElementById ('confident').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    <div class="category" style="border-bottom: solid #72C644 6px;"><p>9<br><br>Expert</p><p style="text-decoration: underline" ;="" onclick="document.getElementById ('expert').className = document.getElementById ('expert').className == 'hidden' ? '' : 'hidden'" href="#">more</p></div>
    </div>
    </div>

    <p id="never-have" class="hidden"><span style="font-weight: bold; ">Never have, never will</span><br>The participant has never used the internet and has no desire to.<br> They may feel that learning how to use the internet does not fit into their lives</p>
    <!--<p id="was-online">Please don't appear</p>
    <p id="willing">This is different stuff</p>
    <p id="reluctantly">This is different stuff</p>
    <p id="learning">This is different stuff</p>
    <p id="task-specific">This is different stuff</p>
    <p id="basic">This is different stuff</p>
    <p id="confident">This is different stuff</p>
    <p id="expert">This is different stuff</p>!-->

<br>

<div class="column-two-thirds">
<h3 class="heading-medium">
  How to decide which digital category a research participant
</h3>
<ul class="list list-bullet">
  <li>During a research session you will observe behaviour or ask questions that helps you place the participant in a particular category.</li>

  <li>If the service you are testing will not give you enough information to go on, any of the activities or questions below could be incorporated into a research session to help expose digital confidence and skills.</li>
</ul>

<br>
<div class="activities">
<h3 class="heading-medium" style="color: #005DA6;">Activity</h3>
<p>Send your participant their consent form attached to an email. In the session ask them to download, fill it out, and attach it to an email to send back.<br><span class="form-hint" style:="" "margin-top:="" 10px";="">This could be helpful if your service doesn’t involved any complex interactions. Though a lot of users are comfortable with email, the understanding of downloading, and finding it on the computer to attach it might expose a lack of confidence, or hesitation.</span></p>

<h3 class="heading-medium" style="color: #00823B;">Question</h3>
<p>Will you talk me through how you use your phone, day to day?<br><span class="form-hint">Though this question is device specific, if the user mentions apps, online banking or listening to podcasts it might help understand their attitude towards technology.</span></p>

<h3 class="heading-medium" style="color: #00823B;">Question</h3>
<p>How much do you use your computer; is it mainly for work, social arrangement, or entertainment?<br><span class="form-hint">If the user works with computers at their work, they may be comfortable with specific skills but how they use their technology in their free time might help decide between ‘task specific’ and ‘basic skills’ categories</span></p>

<h3 class="heading-medium" style="color: #005DA6;">Activity</h3>
<p>Ask your participant to save a bookmark, and then return to it later in the session.<br><span class="form-hint">Using this would be dependent on what your service is, where it might work is  if there is any source of information that the user might be able to refer to, or if there are different sections of the prototype that they could switch between.</span></p>

<h3 class="heading-medium" style="color: #005DA6;">Activity</h3>
<p>Ask your participant to change a setting on their browser<br><span class="form-hint">For example to increase the text size in the page, or to use a different browser. This may reveal the difference between someone who is comfortable trying a new digital activity or someone who has a lower level of confidence</span></p>
<br><a href="#top">Back to top</a>
</div>
</div>

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
